[surveillance]

# Temporary area for us to create config files on-the-fly, etc.
ramdisk = /dev/shm

# Where we will store the captured videos
video_store_path = /tmp/surveillance_video_storage

# Location where mask files are for the various cameras.
# Mask file should use the format: " <camera name>.pgm"
# see https://motion-project.github.io/motion_config.html#mask_file
motion_mask_path = ~/motion_masks

# How long to keep video segments for which no motion was detected.
days_to_keep_motionless_segments = 21

# How much space to use for storing the video segments.
# We do our best to never exceed this, although it's possible that it
# may be slightly exceeded
disk_usage_limit_bytes = 3298534883328

# Each Camera has its own section
[back1]
record_url = rtsp://192.168.0.31:554/Streaming/Channels/1/
monitor_url = rtsp://192.168.0.31:554/Streaming/Channels/2/

[front1]
record_url = rtsp://192.168.0.31:554/Streaming/Channels/1/
monitor_url = rtsp://192.168.0.32:554/Streaming/Channels/2/

[front2]
record_url = rtsp://192.168.0.33:554/Streaming/Channels/1/
monitor_url = rtsp://192.168.0.33:554/Streaming/Channels/2/

[entry1]
record_url = rtsp://192.168.0.34:554/Streaming/Channels/1/
monitor_url = rtsp://192.168.0.34:554/Streaming/Channels/2/
